# deps
node_modules/

# builds
dist/
build/

# env & secrets
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# editors
.vscode/
.idea/

# projet (notre bot)
.state.json